<button *ngIf="isAdminOrGroupAdmin()" (click)="deleteSubChannel()">Delete Subchannel</button>

<div *ngFor="let errorMessage of errorMessages" class="alert alert-danger">
    {{ errorMessage }}
</div>

<div *ngIf="messages.length === 0">
    <p>No messages yet. Be the first to say something!</p>
</div>

<div *ngFor="let message of messages; let i = index" class="message-wrapper">
    <!-- Display user avatar -->
    <img *ngIf="message.avatarPath && message.avatarPath.length > 0"
        [src]="'http://localhost:3000' + message.avatarPath" alt="User Avatar" class="user-avatar"
        (error)="onImageError($event)">

    <div>
        <span class="message-info">
            {{ message.sender || 'Unknown' }} | {{ message.timestamp | date:'medium' || 'Unknown Time' }}
        </span>
        <span *ngIf="message.type === 'text'">: {{ message.content || 'No Content' }}</span>
        <img *ngIf="message.type === 'image'" [src]="message.content" alt="Chat image">
    </div>
</div>


<div class="message-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here" />
    <input type="file" (change)="onImageSelected($event)" />
    <button (click)="sendMessage()" [disabled]="newMessage.trim() === '' && !selectedImage">Send</button>
</div>